In [1]:
import pandas as pd

In [2]:
xgb_final = pd.read_csv('data/xgb.csv', index_col = 0)
rf_final = pd.read_csv('data/rf.csv', index_col = 0)

In [3]:
xgb_final.describe()

,xgb1,xgb2,xgb3,xgb4,xgb5,ID
count,3387.000000,3387.000000,3387.000000,3387.000000,3387.000000,3387.000000
mean,0.903750,0.946560,0.980809,1.044877,1.116327,10008719.171833
std,0.348239,0.415062,0.501549,0.543766,0.593369,4917.777891
min,0.000000,0.000000,0.000000,0.000000,0.000000,10000124.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,10004495.500000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,10008706.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,10012953.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,10017256.000000

In [4]:
rf_final.describe()

               rf1          rf2          rf3          rf4          rf5
count  3387.000000  3387.000000  3387.000000  3387.000000  3387.000000
mean      0.961027     0.961027     0.961027     0.961027     0.961027
std       0.431640     0.431640     0.431640     0.431640     0.431640
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.000000     1.000000     1.000000     1.000000     1.000000
50%       1.000000     1.000000     1.000000     1.000000     1.000000
75%       1.000000     1.000000     1.000000     1.000000     1.000000
max       2.000000     2.000000     2.000000     2.000000     2.000000

In [5]:
ID = xgb_final['ID']
xgb_final.drop('ID', axis=1, inplace = True)

In [6]:
full = pd.concat([xgb_final,rf_final],axis=1)

In [7]:
predictions = full.mode(axis=1).ix[:,0]

In [8]:
predictions.value_counts()

1    2761
0     384
2     242
dtype: int64

In [9]:
xgb_final['Happy'] = predictions.astype(str).map({'2.0':'Very Happy', '1.0': 'Pretty Happy', '0.0': 'Not Happy'})

In [12]:
submission = pd.DataFrame({ 'ID': ID, 'Happy':xgb_final['Happy']})
submission = submission[['ID', 'Happy']]
submission.to_csv("data/ensemble.csv", index = False)