In [2]:
import pandas as pd
from sklearn.metrics import confusion_matrix

In [3]:
xgb = pd.read_csv('data/xgb_hold.csv', index_col = 0)
rf = pd.read_csv('data/rf_hold.csv', index_col = 0)

In [4]:
xgb.describe()

,xgb1,xgb2,xgb3,xgb4,xgb5,y_test
count,2590.000000,2590.000000,2590.000000,2590.000000,2590.000000,2590.000000
mean,0.892278,0.935135,0.995753,1.071429,1.136680,1.178764
std,0.343198,0.409949,0.521812,0.573587,0.602433,0.630202
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [5]:
rf.describe()

               rf1          rf2          rf3          rf4          rf5
count  2590.000000  2590.000000  2590.000000  2590.000000  2590.000000
mean      0.881467     0.894595     0.913900     0.937838     0.955985
std       0.323300     0.347270     0.378956     0.413649     0.437249
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.000000     1.000000     1.000000     1.000000     1.000000
50%       1.000000     1.000000     1.000000     1.000000     1.000000
75%       1.000000     1.000000     1.000000     1.000000     1.000000
max       1.000000     2.000000     2.000000     2.000000     2.000000

In [6]:
y_test = xgb['y_test']
xgb.drop('y_test', axis=1, inplace = True)

In [8]:
full = pd.concat([xgb,rf],axis=1)

In [9]:
predictions = full.mode(axis=1).ix[:,0]

In [10]:
predictions.value_counts()

1    2190
0     307
2      93
dtype: int64

In [11]:
confusion_matrix(predictions,y_test)

array([[ 237,   42,   28],
       [  86, 1403,  701],
       [   1,   34,   58]])

In [12]:
score = 0
points = []
for (predicted, true) in zip(predictions.astype(str).map({'2.0':15, '1.0': 10, '0.0': 5}), 
                             y_test.astype(str).map({'2':15, '1': 10, '0': 5})):
    points.append(true - predicted)
xgb['Point'] = points
xgb['Score'] = xgb['Point'].astype(str).map({'0':50, '5':10 ,'10':5, '-5':-5, '-10':-10}) 
xgb['Score'].sum()/float((len(y_test)*50))

0.7093436293436294