In [2]:
import pandas as pd

In [3]:
xgb = pd.read_csv('data/xgb_hold_sub.csv', index_col = 0)
rf = pd.read_csv('data/rf_hold_sub.csv', index_col = 0)

In [4]:
xgb.describe()

            class0       class1       class2       y_test
count  2590.000000  2590.000000  2590.000000  2590.000000
mean      0.234236     0.493431     0.272333     1.178764
std       0.241348     0.176440     0.114360     0.630202
min       0.052879     0.040519     0.034433     0.000000
25%       0.073127     0.462397     0.190455     1.000000
50%       0.161526     0.522701     0.276673     1.000000
75%       0.237399     0.591639     0.361371     2.000000
max       0.922246     0.789128     0.555998     2.000000

In [5]:
rf.describe()

                    ID       class0       class1       class2
count      2590.000000  2590.000000  2590.000000  2590.000000
mean   10008681.889961     0.167185     0.542099     0.290716
std        4987.332233     0.203582     0.144657     0.103992
min    10000123.000000     0.025653     0.089635     0.033737
25%    10004278.000000     0.060507     0.526051     0.218380
50%    10008634.000000     0.089551     0.568834     0.288567
75%    10012934.500000     0.152776     0.626414     0.376924
max    10017255.000000     0.865732     0.756470     0.530327

In [6]:
final_class0 = (xgb['class0']+rf['class0'])/2
final_class1 = (xgb['class1']+rf['class1'])/2
final_class2 = (xgb['class2']+rf['class2'])/2

In [7]:
final = pd.DataFrame({'class0':final_class0, 'class1':final_class1, 'class2':final_class2})

In [8]:
predictions = final.idxmax(axis=1)
predictions.value_counts()

class1    2222
class0     307
class2      61
dtype: int64

In [9]:
score = 0
points = []
for (predicted, true) in zip(predictions.astype(str).map({'class2':15, 'class1': 10, 'class0': 5}), 
                             xgb['y_test'].astype(str).map({'2':15, '1': 10, '0': 5})):
    points.append(true - predicted)
xgb['Point'] = points
xgb['Score'] = xgb['Point'].astype(str).map({'0':50, '5':10 ,'10':5, '-5':-5, '-10':-10}) 
xgb['Score'].sum()/float((len(xgb['y_test'])*50))

0.7104633204633205