In [2]:
import pandas as pd

In [3]:
xgb_final = pd.read_csv('data/xgb_sub.csv', index_col = 0)
rf_final = pd.read_csv('data/rf_sub.csv', index_col = 0)

In [4]:
xgb_final.describe()

                    ID       class0       class1       class2
count      3387.000000  3387.000000  3387.000000  3387.000000
mean   10008719.171833     0.241744     0.485616     0.272640
std        4917.777891     0.239482     0.172555     0.115728
min    10000124.000000     0.051768     0.035553     0.033103
25%    10004495.500000     0.073472     0.453564     0.190443
50%    10008706.000000     0.164507     0.511989     0.276643
75%    10012953.000000     0.261080     0.574816     0.365001
max    10017256.000000     0.929506     0.792766     0.564209

In [5]:
rf_final.describe()

                    ID       class0       class1       class2
count      3387.000000  3387.000000  3387.000000  3387.000000
mean   10008719.171833     0.173688     0.537853     0.288459
std        4917.777891     0.203657     0.142221     0.104694
min    10000124.000000     0.024512     0.075101     0.033855
25%    10004495.500000     0.064798     0.522945     0.218096
50%    10008706.000000     0.096752     0.566339     0.285028
75%    10012953.000000     0.166271     0.615775     0.376652
max    10017256.000000     0.888359     0.747377     0.544400

In [6]:
ID = xgb_final['ID']
xgb_final = xgb_final.drop('ID', 1)
rf_final = rf_final.drop('ID', axis = 1)

In [7]:
final_class0 = (xgb_final['class0']+rf_final['class0'])/2
final_class1 = (xgb_final['class1']+rf_final['class1'])/2
final_class2 = (xgb_final['class2']+rf_final['class2'])/2

In [8]:
final_sub = pd.DataFrame({'class0':final_class0, 'class1':final_class1, 'class2':final_class2})

In [9]:
predictions_final = final_sub.idxmax(axis=1)
predictions_final.value_counts()

class1    2907
class0     384
class2      96
dtype: int64

In [10]:
#for probabilities
final_sub['Happy'] = predictions_final.astype(str).map({'class2':'Very Happy', 'class1': 'Pretty Happy', 'class0': 'Not Happy'})

In [11]:
submission = pd.DataFrame({ 'ID': ID, 'Happy':final_sub['Happy']})
submission = submission[['ID', 'Happy']]
submission.to_csv("data/ensemble.csv", index = False)